body {
  min-width: 700px;
  padding-top: 20px;
}
.nav-header {
  ul {
    text-align: center;
    .items {
      min-width: 180px;
      &.active {
        font-weight: bold;
      }
    }
  }
}

.margin-top-30 {
  margin-top: 30px;
}

.float-right {
  float: right !important;
}

.text-center {
  text-align: center;
}

.message-alert {
  position: fixed;
  right: 20px;
  top: 20px;
  ul {
    padding: 0;
    li {
      list-style: none;
    }
  }
}

.width-120 {
  width: 120px;
}

table {
  font-size: 11px;
  margin-bottom: 0 !important;
}

.min-width-100 {
  min-width: 100px !important;
}

.panel-heading {
  text-transform: uppercase;
}

.panel-body {
  padding: 0 !important;
}

.relative {
  position: relative;
}

.action-hidden {
  background-color: white;
  bottom: 0;
  box-shadow: 2px 2px 10px;
  display: none;
  padding: 5px;
  position: absolute;
  right: 0;
}

.max-width-250 {
  max-width: 250px;
}

.search-select {
  display: inline-block !important;
  max-width: 150px !important;
}

.search-text {
  display: inline-block !important;
  width: calc(100% - 200px) !important;
}

.search-submit {
  background-image: image-url("search-icon.png") !important;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block !important;
  width: 34px !important;
}

.margin-right-10 {
  margin-right: 10px;
}
